<div class="card" onclick={{action 'clickHandler'}}>
  <img class="card-img-top" src="{{this.posterUrl}}" alt="Card image cap">
  <div class="card-header">
    {{item.title}}
  </div>
  
  <div class="card-footer">
      <small class="text-muted">Release year: {{this.releaseYear}}</small>
    </div>
</div>