
@import "ember-bootstrap/bootstrap";
@import "components/aligned-center.scss";
@import "components/card-columns.scss";
@import "components/card-container.scss";
@import "components/page-item.scss";

.movie-art {
    width: 100%;
    max-width: 100%;
    display: block;
}