{{component 'search-field' search=( action "searchMovie")}}

{{#if model.isMultiplePages}}
    {{component 'pagination-field' 
        currentPage=model.currentPage 
        totalPages=model.totalPages
        changePage=( action 'changePage')
    }}
{{/if}}

<div class="card-columns card-container">
    {{#if model.movies}}
        {{#each model.movies as |movie|}}
            {{component 'movie-card' movie=movie clickOnCard=(action 'openMoviePage')}}
        {{/each}}
    {{/if}}
</div>

{{#if model.isMultiplePages}}
    {{component 'pagination-field' 
        currentPage=model.currentPage 
        totalPages=model.totalPages
        changePage=( action 'changePage')
    }}
{{/if}}