


    <div class="row">
        {{#if model}}
            {{#each model as |item|}}
                <div class="col-md-3 col-sm-4 col-xs-6">
                    {{component 'movie-card' item=item onclick='clickHandler'}}
                </div>
            {{/each}}
        {{/if}}
    </div>
