


<div class="card-columns card-container">
    {{#if model}}
        {{#each model as |item|}}
            {{component 'movie-card' item=item clickOnCard=(action 'clickHandler')}}
        {{/each}}
    {{/if}}
</div>