{{component "search-field" search=( action "searchMovie")}}

{{#if (gt model.meta.totalPages 1)}}
  {{component "pagination-field"
              currentPage=model.meta.page
              totalPages=model.meta.totalPages
              changePage=( action "changePage")
  }}
{{/if}}

<div class="card-columns card-container">
  {{#if model}}
    {{#each model as |movie|}}
      {{component "movie-card" movie=movie clickOnCard=(action "openMoviePage")}}
    {{/each}}
  {{/if}}
</div>

{{#if (gt model.meta.totalPages 1)}}
  {{component "pagination-field"
              currentPage=model.meta.page
              totalPages=model.meta.totalPages
              changePage=( action "changePage")
  }}
{{/if}}